<a href="https://colab.research.google.com/github/gsgol/Data_analysis/blob/main/lab1/Golovanov_Marevichev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
df = pd.read_excel("https://raw.githubusercontent.com/gsgol/Data_analysis/refs/heads/main/lab1/24MAG_HW_1_v15.xls", header=None)

In [ ]:
df

       0    1        2     3        4         5
0   35.0  2.0  29400.0   6.0  29000.0  289000.0
1   32.0  2.0      NaN   5.0  36000.0  365000.0
2   32.0  1.0  27000.0   5.0  26000.0  261000.0
3   19.0  2.0   8000.0  12.0  50000.0  200000.0
4   36.0  2.0  29000.0   7.0  28000.0  287000.0
5   45.0  3.0  38600.0  12.0  40000.0  397000.0
6   31.0  1.0  18200.0   5.0  16000.0  170000.0
7   41.0  2.0  26100.0  10.0  27000.0  264000.0
8   31.0  1.0  16200.0   NaN  14000.0  148000.0
9   27.0  0.0  20200.0   2.0  17000.0  185000.0
10  31.0  1.0  25400.0   5.0  24000.0  244000.0
11  43.0  NaN  10900.0  12.0  11000.0  111000.0
12  50.0  3.0  17500.0  16.0  19000.0  188000.0
13  46.0  3.0  16000.0  14.0  17000.0       NaN
14   NaN  1.0  18700.0   8.0  18000.0  181000.0
15  39.0  1.0   2000.0  10.0   1000.0   14000.0
16  40.0  2.0  31400.0  10.0      NaN  317000.0
17  31.0  1.0  36400.0   4.0  35000.0  355000.0
18  44.0  3.0  20300.0  13.0  21000.0  209000.0
19  40.0  1.0    700.0  11.0      0.0    3000.0
20  51.0  4.0  25300.0  17.0  28000.0  269000.0
21  33.0  1.0  26200.0   5.0  25000.0  253000.0
22  42.0  2.0   2700.0  12.0   2000.0   25000.0
23  25.0  0.0  27200.0   1.0  24000.0  253000.0
24  43.0  3.0  31600.0  11.0  33000.0  322000.0
25  37.0  NaN  21100.0   8.0  20000.0  207000.0
26  38.0  2.0  26200.0   8.0      NaN  261000.0
27  39.0  1.0   5300.0  10.0   5000.0   48000.0
28  31.0  1.0  28000.0   4.0  26000.0  269000.0
29  38.0  2.0  15400.0   9.0  15000.0  150000.0
30  30.0  1.0  28200.0   4.0  26000.0  271000.0
31   NaN  1.0   2900.0  11.0   2000.0   25000.0
32  56.0  4.0  16400.0  20.0  20000.0  184000.0
33  55.0  4.0  22600.0   NaN  26000.0  246000.0
34  44.0  2.0   6300.0  13.0   7000.0   65000.0
35  54.0  4.0      NaN  18.0  28000.0  274000.0
36  51.0  3.0  17600.0  17.0  20000.0  190000.0
37  21.0  3.0   8200.0  11.0  48000.0  250000.0
38  40.0  2.0  12900.0  10.0  13000.0  127000.0
39  51.0  3.0   7100.0  17.0   9000.0       NaN
40  44.0  NaN  16000.0  13.0  17000.0  165000.0
41  49.0  3.0  14900.0  16.0  17000.0  159000.0

In [ ]:
df_renamed = df.rename({0: 'Age', 1: 'numOfDependents', 2: 'income', 3: 'timeSpentInRegion', 4:"carPrice", 5:"loanSize"}, axis='columns')

In [ ]:

df_renamed

     Age  numOfDependents   income  timeSpentInRegion  carPrice  loanSize
0   35.0              2.0  29400.0                6.0   29000.0  289000.0
1   32.0              2.0      NaN                5.0   36000.0  365000.0
2   32.0              1.0  27000.0                5.0   26000.0  261000.0
3   19.0              2.0   8000.0               12.0   50000.0  200000.0
4   36.0              2.0  29000.0                7.0   28000.0  287000.0
5   45.0              3.0  38600.0               12.0   40000.0  397000.0
6   31.0              1.0  18200.0                5.0   16000.0  170000.0
7   41.0              2.0  26100.0               10.0   27000.0  264000.0
8   31.0              1.0  16200.0                NaN   14000.0  148000.0
9   27.0              0.0  20200.0                2.0   17000.0  185000.0
10  31.0              1.0  25400.0                5.0   24000.0  244000.0
11  43.0              NaN  10900.0               12.0   11000.0  111000.0
12  50.0              3.0  17500.0               16.0   19000.0  188000.0
13  46.0              3.0  16000.0               14.0   17000.0       NaN
14   NaN              1.0  18700.0                8.0   18000.0  181000.0
15  39.0              1.0   2000.0               10.0    1000.0   14000.0
16  40.0              2.0  31400.0               10.0       NaN  317000.0
17  31.0              1.0  36400.0                4.0   35000.0  355000.0
18  44.0              3.0  20300.0               13.0   21000.0  209000.0
19  40.0              1.0    700.0               11.0       0.0    3000.0
20  51.0              4.0  25300.0               17.0   28000.0  269000.0
21  33.0              1.0  26200.0                5.0   25000.0  253000.0
22  42.0              2.0   2700.0               12.0    2000.0   25000.0
23  25.0              0.0  27200.0                1.0   24000.0  253000.0
24  43.0              3.0  31600.0               11.0   33000.0  322000.0
25  37.0              NaN  21100.0                8.0   20000.0  207000.0
26  38.0              2.0  26200.0                8.0       NaN  261000.0
27  39.0              1.0   5300.0               10.0    5000.0   48000.0
28  31.0              1.0  28000.0                4.0   26000.0  269000.0
29  38.0              2.0  15400.0                9.0   15000.0  150000.0
30  30.0              1.0  28200.0                4.0   26000.0  271000.0
31   NaN              1.0   2900.0               11.0    2000.0   25000.0
32  56.0              4.0  16400.0               20.0   20000.0  184000.0
33  55.0              4.0  22600.0                NaN   26000.0  246000.0
34  44.0              2.0   6300.0               13.0    7000.0   65000.0
35  54.0              4.0      NaN               18.0   28000.0  274000.0
36  51.0              3.0  17600.0               17.0   20000.0  190000.0
37  21.0              3.0   8200.0               11.0   48000.0  250000.0
38  40.0              2.0  12900.0               10.0   13000.0  127000.0
39  51.0              3.0   7100.0               17.0    9000.0       NaN
40  44.0              NaN  16000.0               13.0   17000.0  165000.0
41  49.0              3.0  14900.0               16.0   17000.0  159000.0

In [ ]:
df_renamed.describe()

,Age,numOfDependents,income,timeSpentInRegion,carPrice,loanSize
count,40.000000,39.000000,40.000000,40.000000,40.000000,40.000000
mean,39.125000,2.000000,18852.500000,10.050000,21000.000000,205025.000000
std,9.143269,1.100239,9878.751803,4.701064,11756.067719,98230.364385
min,19.000000,0.000000,700.000000,1.000000,0.000000,3000.000000
25%,31.750000,1.000000,12400.000000,5.750000,14750.000000,156750.000000
50%,39.500000,2.000000,18450.000000,10.000000,20000.000000,208000.000000
75%,44.250000,3.000000,26400.000000,13.000000,27250.000000,269000.000000
max,56.000000,4.000000,38600.000000,20.000000,50000.000000,397000.000000

In [ ]:
df_renamed.fillna(df_renamed.median(), inplace = True)

In [ ]:
z_dev = np.abs(stats.zscore(df_renamed))

df_final = df_renamed[(z_dev < 1.5).all(axis=1)]

In [ ]:
df_final

     Age  numOfDependents   income  timeSpentInRegion  carPrice  loanSize
0   35.0              2.0  29400.0                6.0   29000.0  289000.0
2   32.0              1.0  27000.0                5.0   26000.0  261000.0
4   36.0              2.0  29000.0                7.0   28000.0  287000.0
6   31.0              1.0  18200.0                5.0   16000.0  170000.0
7   41.0              2.0  26100.0               10.0   27000.0  264000.0
8   31.0              1.0  16200.0               10.0   14000.0  148000.0
10  31.0              1.0  25400.0                5.0   24000.0  244000.0
11  43.0              2.0  10900.0               12.0   11000.0  111000.0
12  50.0              3.0  17500.0               16.0   19000.0  188000.0
13  46.0              3.0  16000.0               14.0   17000.0  208000.0
14  39.5              1.0  18700.0                8.0   18000.0  181000.0
16  40.0              2.0  31400.0               10.0   20000.0  317000.0
18  44.0              3.0  20300.0               13.0   21000.0  209000.0
21  33.0              1.0  26200.0                5.0   25000.0  253000.0
24  43.0              3.0  31600.0               11.0   33000.0  322000.0
25  37.0              2.0  21100.0                8.0   20000.0  207000.0
26  38.0              2.0  26200.0                8.0   20000.0  261000.0
28  31.0              1.0  28000.0                4.0   26000.0  269000.0
29  38.0              2.0  15400.0                9.0   15000.0  150000.0
30  30.0              1.0  28200.0                4.0   26000.0  271000.0
34  44.0              2.0   6300.0               13.0    7000.0   65000.0
38  40.0              2.0  12900.0               10.0   13000.0  127000.0
40  44.0              2.0  16000.0               13.0   17000.0  165000.0
41  49.0              3.0  14900.0               16.0   17000.0  159000.0